<div class='header-box'>
    <div class='container clearfix'>
        <div class='search-box'>
            <button class='button-col-xs-10 off' id='Flights-button-search' onclick="responsive_travel_search('Flights')">
                Flights
            </button>
            <!--
            <button class='button-col-xs-10 off' id='Hotels-button-search' onclick="responsive_travel_search('Hotels')">
                Hotels
            </button>
            <button class='button-col-xs-10 off' id='Cars-button-search' onclick="responsive_travel_search('Cars')">
                Cars
            </button>
            <button class='button-col-xs-10 off' id='Trains-button-search' onclick="responsive_travel_search('Trains')">
                Trains
            </button>
            <button class='button-col-xs-10 off' id='Activity-button-search' onclick="responsive_travel_search('Activity')">
                Activity
            </button>
            <button class='button-col-xs-10 off' id='All-button-search' onclick="responsive_travel_search('All')">
                All
            </button>
-->
            <div id='Flights-search' class='active-search on'>
               <%= form_tag search_path, method: :GET, role: "search"  %>
                    <div class='form-group-home'>
                        <div class='form-col-xl-full off' id='flights_title'>
                            <h3 class='flight-search-title'>Flight 1</h3>
                        </div>
                        <div class='form-col-6'>
                            <%= label_tag 'coming_from', 'Coming From' %>
                            <%= text_field_tag 'city', nil, placeholder: 'city or airport', class: "query", name:"query[query1[query_1_1]]", id: 'query1' %>
                        </div>

                        <div class='form-col-6'>
                            <%= label_tag 'going_to', 'Going To' %>
                            <%= text_field_tag 'city', nil, placeholder: 'city or airport', class: "query", name:"query[query1[query_1_2]]", id: 'query2' %>
                        </div>

                        <div class='form-col-3'>
                            <%= label_tag 'leaving', 'Leaving' %>
                            <%= date_field_tag(:query_1_date_l, Date.today) %>
                        </div>
                        
                        <div class='form-col-3 on' id='returning'>
                            <%= label_tag 'returing', 'Returning' %>
                            <%= date_field_tag(:query_2_date_r, Date.tomorrow) %>
                        </div>
                        <div class='form-col-f'>
                        
                        </div>
                        <div class='form-col-1'>
                            <%= label_tag 'adult', 'Adult (18+)' %>             
                            <%= select_tag "passenger[adult]", options_for_select([ 1, 2, 3, 4, 5, 6], "1") %>
                        </div>
                        
                        <div class='form-col-1'>
                            <%= label_tag 'child', 'Child (0-17)' %>             
                            <%= select_tag "passenger[child]", options_for_select([ 0, 1, 2, 3, 4, 5, 6], "0") %>
                        </div>
                        
                        <div class='form-col-1'>
                            <%= label_tag 'Dogs', 'Dogs' %>             
                            <%= select_tag "passenger[dogs]", options_for_select([ 0, 1, 2], "0") %>
                        </div>
                        <div class='form-col-1'>
                            <%= label_tag 'Cats', 'Cats' %>             
                            <%= select_tag "passenger[cats]", options_for_select([ 0, 1, 2], "0") %>
                        </div>
                        <div class='form-col-1'>
                            <%= label_tag 'Other', 'Other' %>             
                            <%= select_tag "passenger[other_pet]", options_for_select([ 0, 1, 2], "0") %>
                        </div>
                        
                        <div id='container'>
                            <div class='test'>
                            </div>
                        </div>
                        <div class='form-col-xl-full'>
                            <button type='button' id='button-add'>Add Flight</button>
                        </div>
                        <div class='form-col-xl-full'>
                            <button type='button' id='button-remove' class='br-off'>Remove Flight</button>
                        </div>
                        <div class='form-col-xl-full'>
                            <%= label_tag 'advanced_options', 'Advanced Search', class: 'l-small' %>
                            <%= hidden_field(:type, :pass_confirm, :value => "n") %>
                            <%= submit_tag 'Search', class: 'submit' %>
                        </div>
                    </div>
                </form>
            </div>
            <div id='Hotels-search' class='active-search off'>
                Hotel Search is Underconstruction
            </div>
            <div id='Cars-search' class='active-search off'>
                Car search is under-construction
            </div>
            <div id='Trains-search' class='active-search off'>
                Train search is under-construction
            </div>
            <div id='Activity-search' class='active-search off'>
                Activity search is under-construction
            </div>
            <div id='All-search' class='active-search off'>
                All search is under-construction
            </div>
            
            
        </div>
        <div class='search-box-ad'>
            ad content
        </div>
    </div>
</div>

<div class='section-container'>
    <section>
         <div class='container-no-bg'>
             <h3 class='col-m-3'>
                Tino Stars
             </h3>
              <ul class='col-m-3'>
                <li class='col-m-3'>
                 Picture of customer with pet 
                </li>
                <li class='col-m-3'>
                 Picture of customer with pet 
                </li>
                <li class='col-m-3'>
                 Picture of customer with pet 
                </li>
             </ul>
             <h3 class='col-m-3'>
                Recommended Flights
             </h3>
             <ul class='col-m-3'>
                <li class='col-m-3'>
                 Airlines 1 
                </li>
                <li class='col-m-3'>
                 Airlines 2 
                </li>
                <li class='col-m-3'>
                 Airlines 3
                </li>
             </ul>

             <h3 class='col-m-3'>
               Todays Sales
             </h3>
             <ul class='col-m-3'>
                <li class='col-m-3'>
                 Sale 1 
                </li>
                <li class='col-m-3'>
                 Sale 2 
                </li>
                <li class='col-m-3'>
                 Sale 3
                </li>
             </ul>
        </div>
        <div class='section-ad'>
            EVEN MORE ADSSS!!!
        </div>
        <h3 class='col-m-2'>
            Why Choose Tino?
        </h3>
        <div class='section-content-2'>
        <p>
            At tino we know that there are people who love to travel. and that there are people who love their pets. We wanted to create a way for pet owners to travel and not leave thier pets behind. We are dedicated to making this dream come true. 
        </p><br>
        <p>
        Follow Tino on <a href='#'>Facebook</a>, <a href='#'>Twitter</a>, <a href='#'>Instagram</a>, and get travel tips & advice through the Tino Travel Blog.
        </p>
        </div>
    </section>
</div>

<%= render 'pages/footer'%>
