<style>
    div.active-search.off {
        display:none;
    }
    
    div.active-serach.on {
        display:block;
    }
    
    form {
        font-family:'code';
    }
    
    div.search-box button.button-col-xs-10 {
        display:inline-block;
        width:13%;
        padding: 10px 0px 10px 0px;
        font-size:12px;
        background:#45106e;
        background: linear-gradient(to top right,#45106e 0,#8828ab 100%);
        border:groove 1px #45106e;
        color:#CFCFCF;
        transition: 2s;
    }
    
    div.search-box button.button-col-xs-10:focus, div.search-box button.button-col-xs-10.on, div.search-box button.button-col-xs-10:hover {
        background:#8828ab;
        background: linear-gradient(to top right,#5828ab 0,#c828ab 100%);
        color:#FFFFFF;
        outline:-webkit-focus-ring-color auto 5px;
    }
    
    form .submit {
        display:block;
        border-color: #d4a900 #aa8700 #aa8700; 
        border: 1px solid transparent;
        border-radius:0.2em;
        background:#ffbe00;
        background:linear-gradient(to top,#ffbe00 0,#ffcb00 100%);
        padding:8px;
        margin: 10px 0px 0px 0px;
        line-height:1.45;
        font-size:12px;
        font-weight:700;
        cursor:pointer;
        width:57px;
    }
    
    form div.form-col-6 {
        display:inline-block;
        width:49%;
    }
    
    
    form div.form-col-3 {
        display:inline-block;
        width:21.5%;
    } 
    
    form div.form-col-2 {
        display:inline-block;
        width:20%;
    } 
    form div.form-col-f{
        display:inline-block;
        width:5%;
    }
    
    form div.form-col-xl-full{
        display:block;
        width:100%;
    }
    
    form label{
        display:block;
        font-size:12px;
        color: #CFCFCF;
        padding:10px 0px 3px 0px;
    }
    
    form label.l-small {
        display:inline-block;
        font-size:10px;
        cursor:pointer;
    }
    
    form input {
        padding:4px 5px;
        font-size:12px;
        border: solid 1px transparent;
        border-color: #45106e #8828ab #45106e;
        border-radius:4px;
        width:80%;
    }
    
    form select {
        padding:4px;
        width:90%;
    }
    
    #query, .twitter-typeahead {
        width:80%;
        max-width:430px;
        }
    input#query.tt-input{
        width:80%;
    }
    .tt-open {
        background-color:white;
        border:solid 1px black;
        width:100%;
    }
    
    .tt-suggestion {
        color: #222;
    }
    
    .tt-suggestion:hover {
        text-decoration:underline;
        color: #555;
    }
    
</style>
<div class='header-box'>
    <div class='container clearfix'>
        <div class='search-box'>
            <button class='button-col-xs-10 off' id='Flights-button-search' onclick="responsive_travel_search('Flights')">
                Flights
            </button>
            <button class='button-col-xs-10 off' id='Hotels-button-search' onclick="responsive_travel_search('Hotels')">
                Hotels
            </button>
            <button class='button-col-xs-10 off' id='Cars-button-search' onclick="responsive_travel_search('Cars')">
                Cars
            </button>
            <button class='button-col-xs-10 off' id='Trains-button-search' onclick="responsive_travel_search('Trains')">
                Trains
            </button>
            <button class='button-col-xs-10 off' id='Activity-button-search' onclick="responsive_travel_search('Activity')">
                Activity
            </button>
            <button class='button-col-xs-10 off' id='All-button-search' onclick="responsive_travel_search('All')">
                All
            </button>
            <div id='Flights-search' class='active-search off'>
               <%= form_tag search_path, method: :GET, role: "search"  %>
                    <div class='form-group'>
                        
                        <div class='form-col-6'>
                            <%= label_tag 'coming_from', 'Coming From' %>
                            <%= text_field_tag 'city', nil, placeholder: 'city or airport', id: "query", name:"query" %>
                        </div>
                        
                        <div class='form-col-6'>
                            <%= label_tag 'destination', 'Destination' %>
                            <%= text_field_tag 'city', nil, placeholder: 'city or airport', id: "query2", name:"query2" %>
                        </div>
                        
                        <div class='form-col-3'>
                            <%= label_tag 'leaving', 'Leaving' %>
                            <%= date_field_tag(:datetime_leave, Date.today) %>
                        </div>
                        
                        <div class='form-col-3'>
                            <%= label_tag 'returing', 'Returning' %>
                            <%= date_field_tag(:datetime_return, Date.today) %>
                        </div>
                        <div class='form-col-f'>
                        
                        </div>
                        <div class='form-col-2'>
                            <%= label_tag 'adult', 'Adult (18+)' %>             
                            <%= select_tag "adult", options_for_select([ 1, 2, 3, 4, 5, 6], "1") %>
                        </div>
                        
                        <div class='form-col-2'>
                            <%= label_tag 'child', 'Child (0-17)' %>             
                            <%= select_tag "child", options_for_select([ 0, 1, 2, 3, 4, 5, 6], "0") %>
                        </div>
                        <div class='form-col-xl-full'>
                            <%= label_tag 'advanced_options', 'Advanced Search', class: 'l-small' %>
                            <%= submit_tag 'Search', class: 'submit'%>
                        </div>
                    </div>
                </form>
            </div>
            <div id='Hotels-search' class='active-search off'>
                Hotel Search is Underconstruction
            </div>
            <div id='Cars-search' class='active-search off'>
                Car search is under-construction
            </div>
            <div id='Trains-search' class='active-search off'>
                Train search is under-construction
            </div>
            <div id='Activity-search' class='active-search off'>
                Activity search is under-construction
            </div>
            <div id='All-search' class='active-search off'>
                All search is under-construction
            </div>
            
            
        </div>
        <div class='search-box-ad'>
            ad content
        </div>
    </div>
</div>

<div class='section-container'>
    <section>
         <div class='container-no-bg'>
             Main section content
             <h3 class='col-m-3'>
                Recommended Flights
             </h3>
             <ul class='col-m-3'>
                <li class='col-m-3'>
                 Airlines 1 
                </li>
                <li class='col-m-3'>
                 Airlines 2 
                </li>
                <li class='col-m-3'>
                 Airlines 3
                </li>
             </ul>

             <h3 class='col-m-3'>
               Todays Sales
             </h3>
             <ul class='col-m-3'>
                <li class='col-m-3'>
                 Sale 1 
                </li>
                <li class='col-m-3'>
                 Sale 2 
                </li>
                <li class='col-m-3'>
                 Sale 3
                </li>
             </ul>
        </div>
        <div class='section-ad'>
            EVEN MORE ADSSS!!!
        </div>
        <h3 class='col-m-2'>
            Why Choose Tino?
        </h3>
        <div class='section-content-2'>
        <p>
            At tino we know that there are people who love to travel. and that there are people who love their pets. We wanted to create a way for pet owners to travel and not leave thier pets behind. We are dedicated to making this dream come true. 
        </p>
        </div>
    </section>
</div>

<%= render 'pages/footer'%>
