<style>
    div.side-left {
        float:left;
        width:15%;
        max-width:300px;
        margin:20px 20px 0px 10px;
        overflow:hidden;
    }
    
    div.side-content{
        height:600px;
        padding:5px;
        border:solid 1px pink;
        border-radius:5px;
    }
    
    div.side-ads {
        height:300px;
        padding:5px;
        margin: 10px 0px 10px 0px;
        border:solid 1px pink;
        border-radius:5px;
    }
    
    div.side-right {
        float:left;
        width:20%;
        max-width:300px;
        margin:20px 0px 0px 10px;
        overflow:hidden;
    }
    
    div.middle {
        display:inline-block;
        float:left;
        width:60%;
        min-height:200px;
        max-width:900px;
        border: solid 1px black;
        position:relative;
    }
    div .col-12 {
        width:100%;
        padding:10px;
    }

    div.col-6 {
        width:42%;
        padding:10px;
    }

    div.col-4 {
        width:20%;
        padding:10px;
    }

    div.result-box {
        position:relative;
        border: solid 1px transparent;
        padding:10px;
        margin: 20px auto 20px auto;
        width:90%;
        font-family:sans-serif;
        font-size:14px;
        transition: 0.2s border;
    }
    
    div.result-box:hover {
        border: solid 1px #999;
    }
    
    div.rb-main-info {
        width:23%;
        max-width:150px;
        float:left;
        
    }
    
    div.expensive-flag {
        display:inline-block;
        width:96px;
    }
    
    div.expensive-flag-text {
        display:inline-block;
        background-color:#ff944d;
        color:white;
        border-radius:5px;
        border:outset 1px #ffce99;
        padding:2px;
        font-weight:bolder;
        font-family:sans-serif;
        box-shadow: 1px 1px 3px rgba(30,30,5,0.5);
    }
    
    div.view-flight-button {
        display:inline-block;
        background-color:#45106e;
        border-radius:5px;
        border:outset 1px #45106e;
        margin:10px 0px 20px 10px;
        padding:5px;
        transition: 0.2s background;
    }
    
    div.view-flight-button:hover {
        display:inline-block;
        background-color:#8745b3;
        border-radius:5px;
        border:outset 1px #8745b3;
        margin:10px 0px 20px 10px;
        padding:5px;
    }
    div.view-flight-button a{
        color:white;
        text-decoration:none;
        font-weight:bold;
        padding:5px;
    }
    
   
    
    div.flight-carrier {
        display:block;
        font-size:14px;
        color: #444;
        padding: 0px 0px 0px 5px;
    }
    
    div.flight-time {
        display:inline-block;
        padding:5px;
    }
    
    div.sb-container {
        display:inline-block;
        width:100%;
        float:left;
        padding:10px 0px 10px 0px;
    }
    
    span.flight-destination {
        font-weight:bold;
    }
    
    span.flight-grey {
        padding:0px 5px 0px 5px;
        color:#777
    }
    
    span.flight-stops {
        
        color:#45106e;
    }
    
    div.flight-time.stops {
        
    }
    
    header.flight-search-header {
        border: solid 1px black;
        width:100%;
        position:relative;
        min-height:50px;
    }
    
    header div.search-header-cities {
        display:inline-block;
        padding:10px;
    }
    
    
    div.flight-extra-info {
        clear:both;
        width:100%;
        display:block;
        border:solid 1px black;
    }
    
    button.change-flight, input.change-flight {
        padding:5px 15px 5px 15px;
        border-radius:5px;
        background-color:#45106e;
        border: 1px groove #8745b3;
        color:white;
        font-size:14px;
        font-family:sans-serif;
        font-weight:bold;
        cursor:pointer;
    }
    
    button.change-flight:hover, input.change-flight:hover {
        background-color:#8745b3;
        border: 1px outset #8745b3;
    }
    
    div.flight-header {
        position:relative;
        display:block;
    }
    
    div.form-short-col-3 {
        width:15%;
        display:inline-block;
    }
    
    div.form-short-col-2 {
        width:100%;
        display:block;
        position:
    }
    
    button.passengers {
        
    }
    
    div.short-form {
        display:none;
    }
    
    div.passengers-container {
        display:inline-block;
        position:relative;
    }
    
    label.passengers {
        width:40%;
        display:inline-block;
    }
    
    select.passengers {
        width:40%;
        display:inline-block;
    }
    
    div.passengers {
        position:absolute; 
        top:20px;
        left:0px;
        background-color:white;
        border:1px solid black;
        width:200px;
        z-index:1;
        font-family:sans-serif;
        font-size:12px;
    }
    
    form div.short-form-group input {
        padding:4px 5px;
        font-size:12px;
        border: solid 1px transparent;
        border-color: #45106e #8828ab #45106e;
        border-radius:4px;
        width:80%;
    }
    
    div.extra-information {
        clear:left;
        display:none;
    }
    
    div.extra-info-body {
        
    }
    
    div.result-box:focus div.extra-information{
        display:block;
    }
    
    div.extra-info-menu {
        display:inline-block;
        padding:10px 20px 10px 20px;
    }
    
    div.extra-info-menu.on {
        display:inline-block;
        margin-bottom: -1px;
        padding:10px 20px 10px 20px;
        border-top:solid 1px #BBB;
        border-left:solid 1px #BBB;
        border-right:solid 1px #BBB;
        border-bottom:solid 5px #FFF;
    }
    
    div.extra-info-menu.off {
        display:inline-block;
        margin-bottom: 0px;
        padding:10px 20px 10px 20px;
        border-top:solid 1px #FFF;
        border-left:solid 1px #FFF;
        border-right:solid 1px #FFF;
        border-bottom:solid 1px transparent;
    }
    
    div.flight-right-col {
        display:block;
        width:77%;
        float:left;
    }
    
    div.extra-info-header {
        display:block;
        clear:left;
        border-bottom: solid 1px #BBB;
    }
    
    h2.extra-info-title {
        clear:left;
        border-bottom:solid 1px #CCC;
        margin: 10px auto 0px auto;
        padding-left: 5px;
        font-size:16px;
        color:#555;
    }
    
    div.flight-fare-row {
        display:block;
        font-size:14px;
        color: #444;
        padding: 0px 0px 0px 5px;
    }
    
    div.flight-fare-left-col {
        display:inline-block;
        width:20%;
        text-align:left;
    }
    div.flight-fare-right-col {
        display:inline-block;
        width:40%;
        text-align:left;
    }
    
    div.extra-info-details-wrapper.on {
        display:block;
    }
    div.extra-info-details-wrapper.off {
        display:none;
    }
    
    div.extra-info-fares-wrapper.on {
        display:block;
    }
    div.extra-info-fares-wrapper.off {
        display:none;
    }
    div.pagination {
        margin: 0 auto;
        
    }
    div.pagination ul.Paginate {
        list-style-type:none;
        display:block;
        margin: 0 auto;
        width:300px;
    }
    
    div.pagination ul.Paginate li{
        display:inline-block;
        padding:5px 10px 5px 10px;
        margin: 0px 5px 0px 5px;
        border:solid 1px black;
    }
    div.flight-time.flightDepart{
        position:relative;
    }
    span.flight-destination-name {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        position:absolute;
        top:-24px;
        left:17px;
        width:auto;
        white-space:nowrap;
        background-color:#666;
        color: #FFF;
        padding:2px 5px 2px 5px;
        border-radius:5px;
        border: solid 1px #444;
    }
    span.flight-desc-pointer {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        position:absolute;
        top:-3px;
        left:59px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-top: 10px solid #666;
    }
    span.flight-destination-iata:hover span.flight-destination-name, span.flight-destination-iata:hover span.flight-desc-pointer {
        visibility: visible;
        opacity: 1;
    }
    
</style>
<% @query_no = params[:query].count %>
<div class='container'>
    <div class='container clearfix'>
        <div class='side-left'>
            <div class='side-content'>
            </div>
            <div class='side-ads' style="height:auto;">

                <button type='button' onclick='myfunction2()'>
                 Click me
                </button>
            </div> 
        </div>
    <div class='col-10 middle clearfix paginate'>
     <header class='flight-search-header'>
        <div class='flight-header'>
            <div class='search-header-cities'>
                <span><%=params[:query][:query1]["query_1_1"].split(/, \(/)[1][0..2]%></span>
                <span>&#8596;</span>
                <span><%=params[:query]["query#{@query_no}"]["query_#{@query_no}_2"].split(/, \(/)[1][0..2]%></span>
            </div> 

            <div class='search-header-cities'>
                <span><%= params["query_1_date_l"] %></span>
                &#8594;
                <span><%= params["query_2_date_r"] != nil ? params["query_2_date_r"] : params["query_#{@query_no}_date_l"] %></span>
            </div> 

            <button class='change-flight'>
                Change
            </button>
        </div>
        <div class='short-form'>
            <%= form_tag search_path, method: :GET, role: "search"  %>
                    <div class='short-form-group'>
                        <div class='form-col-xl-full off' id='flights_title'>
                            <h3 class='flight-search-title'>Flight 1</h3>
                        </div>
                        <div class='form-short-col-3'>
                            <%= text_field_tag 'city', nil, placeholder: 'city or airport', class: "query", name:"query[query1[query_1_1]]", id: 'query1' %>
                        </div>
                        <span>&#8594; </span>
                        <div class='form-short-col-3'>
                            <%= text_field_tag 'city', nil, placeholder: 'city or airport', class: "query", name:"query[query1[query_1_2]]", id: 'query2' %>
                        </div>

                        <div class='form-short-col-3'>
                            <%= date_field_tag(:query_1_date_l, Date.today) %>
                        </div>
                        
                        <div class='form-short-col-3 on' id='returning'>
                            <%= label_tag 'returing', 'Returning' %>
                            <%= date_field_tag(:query_2_date_r, Date.today) %>
                        </div>
                        <div class='passengers-container'>
                            <button type='button' onclick="" class='passengers'>Passengers</button>
                            <div class='passengers off'>
                                <div class='form-short-col-2'>
                                    <%= label_tag 'adult', 'Adult (18+)' %>             
                                    <%= select_tag "adult", options_for_select([ 1, 2, 3, 4, 5, 6], "1"), class: "passengers" %>
                                </div>

                                <div class='form-short-col-2'>
                                    <%= label_tag 'child', 'Child (0-17)' %>             
                                    <%= select_tag "child", options_for_select([ 0, 1, 2, 3, 4, 5, 6], "0"), class: "passengers" %>
                                </div>

                                <div class='form-short-col-2'>
                                    <%= label_tag 'Dogs', 'Dogs' %>             
                                    <%= select_tag "dogs", options_for_select([ 0, 1, 2, 3], "0"), class: "passengers" %>
                                </div>
                                <div class='form-short-col-2'>
                                    <%= label_tag 'Cats', 'Cats' %>             
                                    <%= select_tag "cats", options_for_select([ 0, 1, 2, 3], "0"), class: "passengers" %>
                                </div>
                                <div class='form-short-col-2'>
                                    <%= label_tag 'Other', 'Other' %>             
                                    <%= select_tag "other_pet", options_for_select([ 0, 1, 2, 3], "0"), class: "passengers" %>
                                </div>
                            </div>
                        </div>
                        
                        <div id='container'>
                            <div class='test'>
                            </div>
                        </div>
                        <div class='form-col-xl-full'>
                            <button type='button' id='button'>Add flight</button>
                        </div>
                        <div class='form-col-xl-full'>
                            <%= label_tag 'advanced_options', 'Advanced Search', class: 'l-small' %>
                            <%= hidden_field(:type, :pass_confirm, :value => "n") %>
                            <%= submit_tag 'Search', class: 'change-flight' %>
                        </div>
                    </div>
                </form>
            <button class='change-flight'>
                Search
            </button>
        </div>
    </header>
    <div class='cover'></div>
    <div class='cover_data'></div>
        
<% @params = {} %>
<% @params["query"] = {} %>
<% params.each do |key,value| %>
<% if key[0..4] == "query" %>
<% @params["query"].store(key,value) %>
<% else %>
<% @params.store(key,value) %>
<% end %>
<% end %>
    <script>
        // Add loading icon when page is loading
$(window).load(function(){
    $('.cover').fadeOut(1000);
})
var response
        
function googleQPXrequest(){
         
         $.ajax({
          accepts: "application/json; charset=utf-8",
          type:"POST",
          datatype: "json",
          url: "/search_googleQPX.json",
          data: <%=raw params.to_json %>,
          success:function (data) {
             $('.cover_data').fadeOut(1000);
             response = data;
            testing();
          },
          error:function (data) {
            return false
         }
          
        })   
        }
        
        window.onload = function() {
            var data = googleQPXrequest();
            
        }
        
        function testing(){
            var content = "";
            for (i = 0; i < Object.keys(response['trips']['tripOption']).length; i++) { 
                content += "<div class='result-box clearfix' tabindex='0'>" +
                "<div class='box-header'>" +
                "</div>" +
                "<div class='rb-main-info'>" +
                    "<div class='rb-price'>" +
                        "<span class='price'>" +
                            response['trips']['tripOption'][i]["saleTotal"].split("GBP").join("") +
                        "</span>" +
                    "</div>" +
                    "<div class='expensive-flag'>" +
                        "<div class='expensive-flag-text'>" +
                            "Cheap" +
                        "</div>" +
                    "</div>" +
                    "<div class='paw-icon'>" +
                    "</div>" +
                    "<div class='view-flight-button'>" +
                        "<a href='/search_show?'>View Flight</a>" +
                    "</div>" +
                "</div>" +
                "<div class='carrier-icon'>" +
                "</div>"  + 
                "<div class='flight-right-col'>" ;
                
                for(j=0; j < Object.keys(response['trips']['tripOption'][i]['slice']).length; j++){
                        if (Object.keys(response['trips']['tripOption'][i]['slice'][j]['segment']).length = 2) { 
                            
                            var segCount = Object.keys(response['trips']['tripOption'][i]['slice'][j]['segment']).length - 1;
                            var departureTime = response['trips']['tripOption'][i]['slice'][j]['segment'][0]['leg'][0]["departureTime"];
                            var arrivalTime = response['trips']['tripOption'][i]['slice'][j]['segment'][segCount]['leg'][0]["arrivalTime"];
                            
                            content += "<div class='flight-time sb-container'>" +            
                        "<div class='flight-carrier'>";
                            for(k=0; k < Object.keys(response['trips']['data']['carrier']).length; k++) {
                                if(response['trips']['data']['carrier'][k]['code'] == response['trips']['tripOption'][i]['slice'][j]['segment'][0]['flight']['carrier']) {
                                   content += response['trips']['data']['carrier'][k]['name'];
                                }
                            }
                        content += "</div>" +
                        "<div class='flight-time flightDepart'>" + 
                            "<span class='flight-destination'>" +
                                departureTime.substring(11,16) +
                            "</span>" +
                                " - " + 
                            "<span class='flight-destination-iata'>" +
                                response['trips']['tripOption'][i]['slice'][j]['segment'][0]['leg'][0]["origin"] +
                                "<span class='flight-destination-name'>";
                                for(k=0; k < Object.keys(response['trips']['data']['airport']).length; k++) {
                                    
                                    if(response['trips']['data']['airport'][k]['code'] == response['trips']['tripOption'][i]['slice'][j]['segment'][0]['leg'][0]["origin"]) {
                                       content += response['trips']['data']['airport'][k]['name']
                                    }
                                }
                                content += "</span><span class='flight-desc-pointer'></span>" +
                            "</span>" +
                        "</div>" +
                        "<div class='flight-time arrow'>&#8594;</div>" +
                        "<div class='flight-time flightDepart'>" +
                            "<span class='flight-destination'>" +
                                arrivalTime.substring(11,16) +
                            "</span> - " +
                            "<span class='flight-destination-iata'>" +
                                response['trips']['tripOption'][i]['slice'][j]['segment'][segCount]['leg'][0]["destination"] +
                                "<span class='flight-destination-name'>";
                                for(k=0; k < Object.keys(response['trips']['data']['airport']).length; k++) {
                                    
                                    if(response['trips']['data']['airport'][k]['code'] == response['trips']['tripOption'][i]['slice'][j]['segment'][segCount]['leg'][0]["destination"]) {
                                       content += response['trips']['data']['airport'][k]['name']
                                    }
                                }
                                content += "</span><span class='flight-desc-pointer'></span>" +
                            "</span>" +
                        "</div>" +
                        "<div class='flight-time flight-duration'>";
                            
                            var total_d = 0;
                            var total_d_c = 0;
                            
                            for(l=0; l < Object.keys(response['trips']['tripOption'][i]['slice'][j]['segment']).length; l++) {
                                
                                total_d = total_d + response['trips']['tripOption'][i]['slice'][j]['segment'][l]['duration'];
                                
                                if(response['trips']['tripOption'][i]['slice'][j]['segment'][0]['connectionDuration'] != null) {
                                    total_d_c += total_d + parseInt(response['trips']['tripOption'][i]['slice'][l]['segment'][0]['connectionDuration']);
                                }
                            }
                            
                            content += "<span class='flight-grey'>" +
                                Math.floor(total_d/60).toString() +
                                "hr " +
                                (total_d % 60).toString() +
                                "m</span>" +
                        "</div>" +
                        "<div class='flight-time'>" +
                            "<span class='flight-grey'>" +
                                moment(response['trips']['tripOption'][i]['slice'][j]['segment'][0]['leg'][0]["departureTime"]).format("MMM Do YYYY") + 
                            "</span>" +
                        "</div>" +
                        "<div class='flight-time stops'>" +
                           "<span class='flight-stops'>";
                            
                                if(response['trips']['tripOption'][i]['slice'][j]['segment'].length == 1){
                                    content += "non-stop";
                                }
                                else if (response['trips']['tripOption'][i]['slice'][j]['segment'].length == 2) {
                                    content += response['trips']['tripOption'][i]['slice'][j]['segment'].length - 1 +
                                        " stop";
                                }
                                else if (response['trips']['tripOption'][i]['slice'][j]['segment'].length > 2) {
                                    content += response['trips']['tripOption'][i]['slice'][j]['segment'].length - 1 +
                                        " stops";
                                }
                            content += "</span> </div></div>";
                        }
                    else {
                        
                        var total_d = 0;
                        var k = 0;
                        while(k < Object.keys(response['trips']['tripOption'][i]['slice']).length) {
                            total_d = total_d + response['trips']['tripOption'][i]['slice'][k]['duration'];
                            
                            if (response['trips']['tripOption'][i]["slice"][k]['segment'][0]["connectionDuration"] != null){
                                total_d = total_d + response['trips']['tripOption'][i]["slice"][k]['segment'][0]["connectionDuration"];
                            }
                            
                            k = k + 1;
                        }
                        
                        for(j=0;j < Object.keys(response['trips']['tripOption'][i]['slice']).length; j++) {
                            for(l=0; l < Object.keys(response['trips']['tripOption'][i]['slice'][j]['segment']).length; l++){
                                
                                content += "<div class='flight-time sb-container'>" +
                                "<div class='flight-carrier'>";
                                    for(k=0; k < Object.keys(response['trips']['data']['carrier']).length; k++) {
                                        if(response['trips']['data']['carrier'][k]['code'] ==  response['trips']['tripOption'][i]['slice'][j]['segment'][l]['flight']['carrier']) {
                                           content += response['trips']['data']['carrier'][k]['name'];
                                        }
                                    }
                                "</div>" +
                            "<div class='flight-time flightDepart'>" +
                               "<span class='flight-destination'>" +
                                    response['trips']['tripOption'][i]['slice'][j]['segment'][l]['leg'][0]["departureTime"].substring(11,16) +
                            "</span> - " +
                                "<span class='flight-destination-iata'>" +
                                    response['trips']['tripOption'][i]['slice'][j]['segment'][l]['leg'][0]['origin'] +
                                    "<span class='flight-destination-name'>";
                                    for(k=0; k < Object.keys(response['trips']['data']['airport']).length; k++) {

                                        if(response['trips']['data']['airport'][k]['code'] == response['trips']['tripOption'][i]['slice'][j]['segment'][l]['leg'][0]['origin']) {
                                           content += response['trips']['data']['airport'][k]['name']
                                        }
                                    }
                                    content += "</span><span class='flight-desc-pointer'></span>" +
                                "</span>" +
                            "</div>" +       
                            "<div class='flight-time arrow'>&#8594;</div>" +
                            "<div class='flight-time flightDepart'>" +
                                "<span class='flight-destination'>" +
                                    response['trips']['tripOption'][i]['slice'][j]['segment'][l]['leg'][0]["arrivalTime"].substring(11,16) +
                                "</span> - " +
                                "<span class='flight-destination-iata'>" +
                                    response['trips']['tripOption'][i]['slice'][j]['segment'][l]['leg'][0]["destination"] +
                                    "<span class='flight-destination-name'>";
                                    for(k=0; k < Object.keys(response['trips']['data']['airport']).length; k++) {

                                        if(response['trips']['data']['airport'][k]['code'] == response['trips']['tripOption'][i]['slice'][j]['segment'][l]['leg'][0]["destination"]) {
                                           content += response['trips']['data']['airport'][k]['name']
                                        }
                                    }
                                    content += "</span><span class='flight-desc-pointer'></span>" +
                                "</span>" +
                            "</div>" +
                            "<div class='flight-time flight-duration'>" +
                                "<span class='flight-grey'>" +
                                    Math.floor(response['trips']['tripOption'][i]['slice'][j]['segment'][l]["duration"]/60).toString() +
                                    "hr " +
                                    (response['trips']['tripOption'][i]['slice'][j]['segment'][l]["duration"] % 60 ).toString() +
                                    "m" +
                                    "</span>" +
                            "</div>" +
                            "<div class='flight-time'>" +
                                "<span class='flight-grey'>" +
                                    moment(response['trips']['tripOption'][i]['slice'][j]['segment'][l]['leg'][0]["departureTime"]).format("MMM Do YY") +
                                    "</span>" +
                            "</div>" +
                            "<div class='flight-time stops'> " +
                               "<span class='flight-stops'>";
                                if(response['trips']['tripOption'][i]['slice'][j]['segment'].length == 1){
                                    content += "non-stop";
                                }
                                else if (response['trips']['tripOption'][i]['slice'][j]['segment'].length == 2) {
                                    content += response['trips']['tripOption'][i]['slice'][j]['segment'].length - 1 +
                                        " stop";
                                }
                                else if (response['trips']['tripOption'][i]['slice'][j]['segment'][j].length > 2) {
                                    content += response['trips']['tripOption'][i]['slice'][j]['segment'].length - 1 +
                                        " stops";
                                }
                                content += "</span>" +  
                            "</div>" +
                        "</div>";           
                            } 
                        }
                    }}
                    
                    content += "<div class='extra-information'>" +
                        "<div class='extra-info-header'>" +
                            "<div class='extra-info-menu on' onclick='show_details()'>" +
                                "Details" +
                            "</div>" +
                            "<div class='extra-info-menu off' onclick='show_fares()'>" +
                                "Fares" +
                            "</div>" +
                        "</div>" +
                        "<div class='extra-info-details-wrapper on'>";
                
                        var m = 0;
                        for(n=0;n < Object.keys(response['trips']['tripOption'][i]['slice']).length; n++) {
                            if (m == 0) {
                            content += "<h2 class='extra-info-title'>" +
                                            "Depart" +
                                       "</h2>";
                            }
                            else if (m == 1) {
                                content += "<h2 class='extra-info-title'>" +
                                                "Return" +
                                           "</h2>";
                            }
                            
                            for(o=0; o < Object.keys(response['trips']['tripOption'][i]['slice'][n]['segment']).length;o++){
                                content += "<div class='extra-info-body'>" +
                                    "<div class='flight-time sb-container'>" +
                                        "<div class='flight-carrier'>";
                                        for(k=0; k < Object.keys(response['trips']['data']['carrier']).length; k++) {
                                            if(response['trips']['data']['carrier'][k]['code'] == response['trips']['tripOption'][i]['slice'][n]['segment'][o]['flight']['carrier']) {
                                               content += response['trips']['data']['carrier'][k]['name'];
                                            }
                                        }
                                        content += "</div>" +
                                        "<div class='flight-time flightDepart'>" +
                                            "<span class='flight-destination'>" +
                                        response['trips']['tripOption'][i]['slice'][n]['segment'][o]['leg'][0]["departureTime"].substring(11,16) +
                                        "</span> - " +
                                        "<span class='flight-destination-iata'>" +
                                            response['trips']['tripOption'][i]['slice'][n]['segment'][o]['leg'][0]["origin"] +
                                            "<span class='flight-destination-name'>";
                                            for(k=0; k < Object.keys(response['trips']['data']['airport']).length; k++) {

                                                if(response['trips']['data']['airport'][k]['code'] == response['trips']['tripOption'][i]['slice'][n]['segment'][o]['leg'][0]["origin"]) {
                                                   content += response['trips']['data']['airport'][k]['name']
                                                }
                                            }
                                            content += "</span><span class='flight-desc-pointer'></span>" +
                                        "</span>" +
                                        "</div>" +
                                        "<div class='flight-time arrow'>&#8594;</div>" +
                                        "<div class='flight-time flightDepart'>" +
                                            "<span class='flight-destination'>" +
                                                response['trips']['tripOption'][i]['slice'][n]['segment'][o]['leg'][0]["arrivalTime"].substring(11,16) +
                                            "</span> - " +
                                            "<span class='flight-destination-iata'>" +
                                                response['trips']['tripOption'][i]['slice'][n]['segment'][o]['leg'][0]["destination"] +
                                             "<span class='flight-destination-name'>";
                                            for(k=0; k < Object.keys(response['trips']['data']['airport']).length; k++) {

                                                if(response['trips']['data']['airport'][k]['code'] == response['trips']['tripOption'][i]['slice'][n]['segment'][o]['leg'][0]["destination"]) {
                                                   content += response['trips']['data']['airport'][k]['name']
                                                }
                                            }
                                            content += "</span><span class='flight-desc-pointer'></span>" +
                                            "</span>" +
                                        "</div>" +

                                        "<div class='flight-time flight-duration'>" +
                                           "<span class='flight-grey'>" + 
                                            Math.floor(response['trips']['tripOption'][i]['slice'][n]['segment'][o]["duration"]/60).toString() + 
                                            "hr" + 
                                            (response['trips']['tripOption'][i]['slice'][n]['segment'][o]["duration"] % 60 ) +
                                            "m" +
                                            "</span>" +
                                        "</div>" +
                                        "<div class='flight-time'>" +
                                            "<span class='flight-grey'>" +
                                            moment(response['trips']['tripOption'][i]['slice'][n]['segment'][o]['leg'][0]["departureTime"]).format("MMM Do YY") +
                                            "</span>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>";
                            }
                                
                            m = m + 1;
                        }
                        content += "</div>" +
                        "<div class='extra-info-fares-wrapper off'>" +
                            "<h2 class='extra-info-title'>" +
                                "Known fares" +
                            "</h2>" +
                            "<div class='flight-fare-row'>" +
                                "<div class='flight-fare-left-col'>" +
                                    "<span>Flight Price:</span>" +
                                "</div>" +
                                "<div class='flight-fare-right-col'>" +
                                    "<span>£"+
                                        response['trips']['tripOption'][i]["pricing"][0]["saleFareTotal"].substring(3,10) +
                                    "</span>" +
                                "</div>" +
                            "</div>" +
                            "<div class='flight-fare-row'>" +
                                "<div class='flight-fare-left-col'>" +
                                    "<span>Tax:</span>" +
                                "</div>" +
                                "<div class='flight-fare-right-col'>" +
                                   " <span>£" +
                                    response['trips']['tripOption'][i]["pricing"][0]["saleTaxTotal"].substring(3,10) +
                                "</span>" +
                                "</div>" +
                            "</div>" +
                            "<div class='flight-fare-row'>" +
                                "<div class='flight-fare-left-col'>" +
                                    "<span>Ticket Total:</span>" +
                                "</div>" +
                                "<div class='flight-fare-right-col'>" +
                                    "<span>£"+
                                        response['trips']['tripOption'][i]["pricing"][0]["saleTotal"].substring(3,10) +
                                    "</span>" +
                                "</div>" +
                            "</div>" +
                            "<div class='flight-fare-row'>" +
                                "<div class='flight-fare-left-col'>" +
                                    "<span>Last chance to buy:</span>" +
                                "</div>" +
                                "<div class='flight-fare-right-col'>" +
                                    "<span>" +
                                    moment(response['trips']['tripOption'][i]["pricing"][0]["latestTicketingTime"]).format("MMM Do YY") +
                                    " at " + response['trips']['tripOption'][i]["pricing"][0]["latestTicketingTime"].substring(11,16) +
                                    "</span>" +
                                "</div>" +
                            "</div>";
                            if(response['trips']['tripOption'][i]["pricing"][0]["refundable"] == "TRUE"){
                            content += "<div class='flight-fare-row'>" +
                                "<div class='flight-fare-left-col'>" +
                                "</div>" +
                                "<div class='flight-fare-right-col'>" +
                                    "<span>Refundable</span>" +
                                "</div>" +
                            "</div>";
                            }
                            else {
                            content += "<div class='flight-fare-row'>" +
                                "<div class='flight-fare-left-col'>" +
                                "</div>" +
                                "<div class='flight-fare-right-col'>" +
                                    "<span>Non-Refundable</span>" +
                                "</div>" +
                            "</div>";
                            }
                        content += "</div>" +
                    "</div>" +
                "</div>" +
            "</div>"; 
            }
            document.getElementById("f-results-container").innerHTML = content;
            console.log(response);
            $(function() {
                $(".pagination").customPaginate({
                    items: Object.keys(response['trips']['tripOption']).length,
                    itemsToPaginate: ".result-box",
                    itemsPerPage: 10,
                    cssStyle: 'light-theme'
                });
            });
        } 
        
        
    </script>
        <div id='f-results-container'>
        </div>
        <div class='pagination'></div>
    </div>
    <div class='side-right' >
        <div class='side-ads'>
            ads go here
        </div>
    </div>
</div>

<%= render 'pages/footer'%>
